section.container.block.section_not_padding
  h1.heading почему выбирают меня
  .advantage__rows
    .row(data-aos='fade-right')
      .row__block.row__block_25
        span.row__text.text__small Свежие и натуральные продукты
      .row__block.row__block_40.row__block_pavlova
        img.row__block_img(src="../images/_advantage/pavlova.jpg")
      .row__block.row__block_35
        span.heading.row__block_big-text 50+
        span.row__text довольных клиентов
    .row(data-aos='fade-left')
      .row__block.row__block_333.row__block_macaroni
        img.row__block_img(src="../images/_advantage/macaroni.jpg")
      .row__block.row__block_333
        span.heading.row__block_big-text 150+
        span.row__text работ
      .row__block.row__block_333.row__block_potato
        img.row__block_img(src="../images/_advantage/potato2.jpg")
    .row(data-aos='fade-right')
      .row__block.row__block_25
        span.heading.row__block_big-text 7+
        span.row__text лет опыта
      .row__block.row__block_40.row__block_mousse
        img.row__block_img(src="../images/_advantage/mousse.jpg")
      .row__block.row__block_35
        span.row__text.text__small.text__small_right Открыта к новым идеям