section.container.block.section_not_padding
  h1.heading почему выбирают меня
  .advantage__rows
    .row(data-aos='fade-right')
      .row__block.row__block_25
        span.row__text.text__small Свежие и натуральные продукты
      .row__block.row__block_40
        img.row__block_img.row__block_img-first(src="../images/_advantage/pavlova.jpg")
      .row__block.row__block_35
        span.heading.row__block_big-text 50+
        span.row__text.row__text_235 довольных клиентов
    .row(data-aos='fade-left')
      .row__block.row__block_333
        img.row__block_img(src="../images/_advantage/macaroni.jpg")
      .row__block.row__block_333
        span.heading.row__block_big-text 150+
        span.row__text работ
      .row__block.row__block_333
        img.row__block_img(src="../images/_advantage/cake.jpg")
    .row.row_last(data-aos='fade-right')
      .row__block.row__block_25
        span.heading.row__block_big-text 7+
        span.row__text.row__text_235 лет опыта
      .row__block.row__block_40
        img.row__block_img.row__block_img-last(src="../images/_advantage/mousse.jpg")
      .row__block.row__block_35
        span.row__text.text__small.text__small_right Открыта к новым идеям