section.container.block#review
  h1.heading Отзывы
  .slider(data-aos='zoom-up-down')
    .slides
      .slider__review
        .slider__img
          img.img__review(src="../images/_review/foto1.png")
          .slider__img_border
        .slider__info
          .slider__info_main
            p.slider__info_name Вячеслав
            p.slider__info_desc Свадебный торт, 2022 год
            p.slider__info_desc 60 кубиков, 5 ярусов и безумно сочные летние вкусы.
          p.slider__info_text Тортик - безумный огонь! Это такая вкуснота. Торт легкий и безумно крутой. Вкуснее не ел! Отвал бошки!!!
      .slider__review
        .slider__img
          img.img__review(src="../images/_review/foto2.png")
          .slider__img_border
        .slider__info
          .slider__info_main
            p.slider__info_name Мария
            p.slider__info_desc Свадебный торт, 2021 год
            p.slider__info_desc 3 яруса с разным вкусами: медовик, вишня-шоколад, маракуйя 
          p.slider__info_text Торт - бомба! Реализован так, как и задумывалось. Был настолько вкусен, что улетел молнеиностно и на утро ничего не осталось!! Огромное спасибо Ане! Лучше быть не могло.
      .slider__review
        .slider__img
          img.img__review(src="../images/_review/foto3.png")
          .slider__img_border
        .slider__info
          .slider__info_main
            p.slider__info_name Анастасия
            p.slider__info_desc Букет из шоколада, 2021 год
            p.slider__info_desc 19 пионов из молочного, клубничного и белого бельгийского шоколада 
          p.slider__info_text Лучше подарка маме на  8 марта не придумать! Однозначно стоит своих денег. А бельгийский шоколад отдельная любовь.
    
    .slider__nav
      .navigation
        button.slider__nav_arrowPrev(onclick='plusSlides(-1)')
          svg.arrow(viewBox="0 0 252 30" xmlns="http://www.w3.org/2000/svg")
            path(d="M0.585786 13.3993C-0.195262 14.1803 -0.195262 15.4466 0.585786 16.2277L13.3137 28.9556C14.0948 29.7367 15.3611 29.7367 16.1421 28.9556C16.9232 28.1746 16.9232 26.9082 16.1421 26.1272L4.82843 14.8135L16.1421 3.49977C16.9232 2.71872 16.9232 1.45239 16.1421 0.671341C15.3611 -0.109708 14.0948 -0.109708 13.3137 0.671341L0.585786 13.3993ZM2 16.8135H252V12.8135H2V16.8135Z")
        button.slider__nav_arrowNext(onclick='plusSlides(1)')
          svg.arrow.arrow_next(viewBox="0 0 252 30" xmlns="http://www.w3.org/2000/svg")
            path(d="M0.585786 13.3993C-0.195262 14.1803 -0.195262 15.4466 0.585786 16.2277L13.3137 28.9556C14.0948 29.7367 15.3611 29.7367 16.1421 28.9556C16.9232 28.1746 16.9232 26.9082 16.1421 26.1272L4.82843 14.8135L16.1421 3.49977C16.9232 2.71872 16.9232 1.45239 16.1421 0.671341C15.3611 -0.109708 14.0948 -0.109708 13.3137 0.671341L0.585786 13.3993ZM2 16.8135H252V12.8135H2V16.8135Z")

