$color_back: white;
$color_text: #37353a;
$color_header: rgba(255, 255, 255, 0.8);
$color_line: #f19aff;
$color_pink: #d47890;
$color_saturatedPink: #df3c66;
$color_buttonBack: #f7cdc0;
$color_buttonText: #8b2a64;
$color_card_hover: #f7ddd5;

$indent: 7.5%;
