each item in [{value: 'Обо мне', url : 'about'}, {value: 'Отзывы', url : 'review'}, {value: 'Ассортимент', url : 'assortment'},{value: 'Вкусы', url : 'taste'}, {value: 'Контакты', url : 'contact'}]
  li
    a.menu__item(href="#"+item.url)=item.value