section.offer.container.block
  h1.heading мой личный тренд
  .offer__main
    .offer__content.offer_margin-left(data-aos='fade-down-left')
      p.offer__title Кубик-рубика
      p.offer__desc Торт из муссовых кубиков размером 5*5 см
      p.offer__info Отличный вариант для любого праздника.<br>Резать ничего не нужно, только наслаждаться!
    .offer__foto(data-aos='fade-down-right')
      img.img.offer__img(src="../images/_specialOffer/img1.png")
    .offer__foto(data-aos='fade-up-left')
      img.img.offer__img(src="../images/_specialOffer/img2.png")
    .offer__content.offer_margin-right.offer__block(data-aos='fade-up-right')
      p.offer__desc Давайте воплотим что-то невероятное вместе
      button.offer__button
        svg.offer__svg(viewBox="0 0 545 156")
          path.offer__figure.offer__figure_hover(d="M0.502024 117.569C0.771411 53.2766 52.9731 1.24121 117.328 1.24121H537.716C537.447 65.5332 485.245 117.569 420.89 117.569H0.502024Z")
          path.offer__figure.offer__figure_position(d="M8.55708 155.466C4.39174 91.3116 52.8719 35.7203 117.063 31.1802L536.439 1.51906C540.604 65.6736 492.124 121.265 427.932 125.805L8.55708 155.466Z") 
        p.offer__buttonText Связаться со мной