section.container.main
  .main__info(data-aos='fade-right')
    .main__h
      .main__row1
        p.main__row1_text.heading приготовлю
        .main__row1_img
      .main__row2
        p.main__row2_text.heading неповторимые десерты
      .main__row3
        p.main__row3_text1.heading на ваш
        .main__row3_img
        p.main__row3_tex2.heading праздник
    p.main__text Доставка по г.&nbsp;Павловский Посад, г.&nbsp;Электросталь, г.&nbsp;Ногинск, г.&nbsp;Орехово-Зуево
    button.main__button
      p.main__buttonText Посмотреть работы
      svg.ellipses(viewBox="0 0 460 99")
        path.ellipse2(d="M458.673 29.8722C458.928 32.7818 457.677 35.8136 454.931 38.9406C452.185 42.0679 447.982 45.2445 442.444 48.4196C431.369 54.7682 415.059 61.0527 394.697 66.9182C353.983 78.6469 297.174 88.6716 233.925 94.2052C170.676 99.7387 112.99 99.7311 70.8573 95.2506C49.7869 93.0099 32.6326 89.6531 20.624 85.324C14.6182 83.1589 9.92746 80.7605 6.68016 78.1575C3.43318 75.5547 1.67466 72.7862 1.42011 69.8767C1.16556 66.9672 2.41662 63.9354 5.16231 60.8084C7.90827 57.6811 12.1112 54.5045 17.6498 51.3294C28.7243 44.9808 45.035 38.6963 65.3962 32.8308C106.111 21.1021 162.919 11.0774 226.168 5.54383C289.417 0.0102556 347.104 0.0179311 389.236 4.49843C410.307 6.73912 427.461 10.0959 439.47 14.425C445.475 16.59 450.166 18.9885 453.413 21.5915C456.66 24.1942 458.419 26.9627 458.673 29.8722Z")
        path.ellipse1.ellipse_hover(d="M459.204 34.3298C459.364 37.246 458.015 40.2355 455.169 43.2714C452.322 46.3076 448.018 49.3456 442.379 52.3386C431.104 58.3231 414.597 64.0731 394.056 69.2723C352.981 79.6686 295.876 87.8376 232.48 91.3081C169.084 94.7786 111.429 92.892 69.4645 87.0416C48.4783 84.1158 31.4425 80.2021 19.5812 75.4841C13.6491 73.1246 9.03902 70.5746 5.87822 67.8672C2.71774 65.1601 1.05032 62.3358 0.890675 59.4195C0.731028 56.5033 2.08018 53.5138 4.92626 50.4779C7.77263 47.4417 12.0768 44.4037 17.7159 41.4107C28.9913 35.4262 45.4981 29.6762 66.0395 24.477C107.114 14.0807 164.219 5.91171 227.615 2.44119C291.011 -1.02932 348.666 0.857295 390.631 6.70774C411.617 9.63354 428.653 13.5473 440.514 18.2652C446.446 20.6247 451.056 23.1747 454.217 25.8821C457.377 28.5892 459.045 31.4135 459.204 34.3298Z")
  .main__fotos(data-aos='fade-left')
    .main__foto2
    .main__foto1