nav.header__nav
  .swiper 
    .swiper-wrapper 
      .swiper-slide 
        a(href="#!").nav__elem Вузы 
      .swiper-slide 
        a(href="#!").nav__elem Колледжи 
      .swiper-slide
        a(href="#!").nav__elem Техникумы 
      .swiper-slide
        a(href="#!").nav__elem Училища 
      .swiper-slide
        a(href="#!").nav__elem Специальности 
      .swiper-slide
        a(href="#!").nav__elem Профессии     
      .swiper-slide
        a(href="#!").nav__elem Отзывы 
      .swiper-slide
        a(href="#!").nav__elem Учебным заведениям 
      .swiper-slide
        a(href="#!").nav__elem Тест на профориентацию 
      .swiper-slide
        a(href="#!").nav__elem Училища 
      .swiper-slide
        a(href="#!").nav__elem Специальности 
      .swiper-slide
        a(href="#!").nav__elem Профессии    

  button.swiper-prev