header.header
  .header-container
    section.header-main
      .burger
        span
        span 
        span
      .logo
        include components/logo.pug
      include components/location.pug
      include components/search.pug
      include components/like.pug
      include components/profile.pug
      include components/swiper.pug