header.header
  .header-container
    section.header__info
      .block
        include logo.pug
        .location-container
          .location
            span.location__icon
              include location.pug
            span.location__city Любой регион
          .location__modal.hide
            .location-body.hide
              .location-search 
                input.location-search__input(type='text' placeholder='Регион, город, населенный пункт')
                .location-search__close.hide
              .location-elems
              button.location-button Сохранить
            .preloader
      .search
        input.search__input(type='text' placeholder='Учебное заведение, специальность или профессия')
      .block
        .favorites
          .favorites__like
            include like.pug
          .favorites__count 1
        .profile
          span.profile__name Екатерина
          .profile__avatar
    include swiper.pug