section.container.block.about#about
  h1.heading обо мне
  .about__main
    .about__text_left(data-aos='fade-up-left') Привет! Меня зовут Аня. Занимаюсь кондитерским делом уже более 7 лет. Готовлю разнообразные кондитерские изделия: от свадебный тортов до фигурного шоколада.
    .about__text_right(data-aos='fade-up-right') Главные фишки: максимальное включение в работу и индивидуальный подход к каждому заказу. Каждый раз вкладываюсь по полной, развивая идею до “Ого, вот это да!”.
    .about__info_left(data-aos='fade-up-left') 150+ тортиков
    .about__info_right(data-aos='fade-up-right') пеку с 15 лет
    picture
      source(srcset="../images/_about/foto_480.webp" media="(max-width: 480px)")
      source(srcset="../images/_about/foto_766.webp" media="(max-width: 768px)")
      source(srcset="../images/_about/foto_1024.webp" media="(max-width: 1024px)")
      source(srcset="../images/_about/foto_1440.webp")
      img.about__img(src="../images/_about/foto.png" alt="Портрет Анны")
  .social_links
    include ../Links/Links.pug