section.container.block#contact
  h1.heading контакты
  .contact
    .contact__map(data-aos='fade-right')
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa4d24c7b65d5a9e12c174f330e59f75e27caf590ffb7bc3fb062b7c16893d1e0&amp;lang=ru_RU&amp;scroll=true"></script>
    .contact__info(data-aos='fade-left')
      span.contact__adress Адрес: Московская область, г.&nbsp;Павловский Посад, д.&nbsp;Евсеево
      span.contact__number Телефон: +7(915)413-4893
      .contact__social
        include ../Links/Links.pug