section.container.block.footer
  nav.menu.footer__nav
    ul.menu__ul
      include ../Menu/Menu.pug
  .footer__contact
    include ../Links/Links.pug
    span.footer__tel +7(915)413-4893
  span.footer__text Пс... я уже начала делать твой тортик