.cards {
  width: 100%;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card {
  padding: 4% 6%;
  border-bottom: 1px solid $color_line;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  &:first-child {
    padding-top: 0;
  }

  &__content {
    display: flex;
    justify-content: space-around;
  }

  &__img {
    width: 45%;
    height: 35vh;
    max-height: 470px;
    min-height: 350px;
    overflow: hidden;
  }

  &__info {
    width: 45%;
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    &_title {
      font-size: 1.6rem;
      line-height: 1.28;

      letter-spacing: 0.05em;
    }

    &_price {
      font-family: "FoglihtenNo06";
      letter-spacing: 0.05em;
      color: $color_buttonText;

      display: inline-block;
      white-space: nowrap;

      padding: 16px 24px;
      background-color: $color_buttonBack;

      &:hover {
        background-color: $color_card_hover;
      }
    }

    &_main {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 25px;
    }
  }
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;

  &_position36 {
    object-position: 0 36%;
  }
}

.assortment {
  gap: 0;

  &__heading {
    margin-bottom: 50px;
  }
}

.btn-expand {
  padding: 20px 0;
}
